:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --portfolio-gallery-color: #eeeeee;
  --logo-color: #000000;
  --additional-background-color: #f5f4fa;
  --additional-color: rgba(255, 255, 255, 0.6);
  --footer-and-hero-color: #2f303a;
  --color: #ececec;
  --main-font-family: 'Roboto', sans-serif;
  --main-font-size: 14px;
  --main-letter-spacing: 0.03em;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  letter-spacing: var(--main-letter-spacing);
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
address {
  font-style: normal;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* header */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}
.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-accent {
  color: var(--logo-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.header-link {
  color: var(--main-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.mail,
.tel {
  color: var(--secondary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.mail:hover,
.mail:focus {
  color: var(--accent-color);
}
.tel:hover,
.tel:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

/* main */
/* hero */
.hero {
  background-color: var(--footer-and-hero-color);
  text-align: center;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 30px;
  max-width: 696px;
  margin-right: auto;
  margin-left: auto;
}
.hero-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #188ce8;
}
/* section */
.section-subtitle {
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
.section-text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}
/* gallery */
.gallery-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
/* team */
.team {
  background-color: var(--additional-background-color);
}
.team-item {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
}

.team-job {
  font-size: 16px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
/* footer */
.footer {
  background-color: var(--footer-and-hero-color);
}
.second-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--accent-color);
}
.logo-second {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  color: var(--background-color);
}
.footer-point {
  line-height: 1.71;
  color: var(--background-color);
  font-style: normal;
}
.footer-point:hover,
.footer-point:focus {
  color: var(--accent-color);
}

.footer-link {
  line-height: 1.71;
  color: var(--background-color);
  font-style: normal;
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.footer-pointer:hover,
.footer-pointer:focus {
  color: var(--accent-color);
}
/* Портфоліо */
.portfolio-btn {
  font-family: inherit;
  color: (var(--main-text-color));
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  background-color: var(--additional-background-color);
  cursor: pointer;
  letter-spacing: 0.03em;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item {
  background: var(--background-color);
}
.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}
.current {
  background-color: var(--accent-color);
  color: var(--background-color);
}
